.masked-slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.masked-slider-track {
  display: flex;
}

.masked-slider-track.smooth {
  transition: transform 0.5s ease-in-out;
}

.masked-slide-item {
  flex-shrink: 0;
  padding: 10px;
  box-sizing: border-box;
}

.masked-image-wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.masked-image-wrapper {
  background-image: url(/assets/causes/itemmaskshadow.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px 20px 20px;
}

.masked-img {
  width: 100%;
  height: auto;
  object-fit: cover;

  /* Mask properties */
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  transition: transform 0.3s ease;
}

.masked-img:hover {
  transform: scale(1.05);
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 179, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.masked-image-wrapper:hover .hover-overlay {
  opacity: 1;
  animation: jumpIn 1.5s ease-in-out;
}

.hover-overlay h4 {
  margin: 0 0 10px;
  font-size: 20px;
}

.hover-overlay p {
  font-size: 14px;
  margin: 0 0 15px;
}

.learn-more-btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #e67e22;
}

@media (max-width: 992px) {
  .hover-overlay {
    opacity: 0; /* Hide by default on mobile */
  }

  .masked-image-wrapper.clicked .hover-overlay {
    opacity: 1; /* Show when clicked */
  }
}
