.banner-containers {
  background-image: url("/assets/about/about banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  aspect-ratio: 18 / 10;
}


 .banner-wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 5%;
}


.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerline {
  width: 2px;
  height: 60px;
  background-color: #fff;
}
 


 .donaterow {
     width: 30% !important;
 }

 .bg-img {

     background-image: url("/assets/about/qoutebg.jpg") !important;
     background-position: contain !important;
     background-repeat: no-repeat !important;

 }

 @keyframes fadeScaleUp {
     0% {
         opacity: 0;
         transform: scale(0.9);
     }

     100% {
         opacity: 1;
         transform: scale(1);
     }
 }

 @keyframes fadeInUp {
     0% {
         opacity: 0;
         transform: translateY(10px);
     }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .animated-part {
     opacity: 0;
     animation: fadeInUp 0.6s ease forwards;
 }

 .delay-1 {
     animation-delay: 0.2s;
 }

 .delay-2 {
     animation-delay: 0.4s;
 }

 .contact-animated {
     animation: fadeScaleUp 1s ease-in-out forwards;
 }


 .number-sec {
     width: 100%;
     height: 100%;
     background-size: contain;
     background-position: center;
     background-image: url("/assets/about/numberbg.png");
     background-repeat: no-repeat;
     color: #000000;
 }

 .number {
     font-family: "KG Small Town Southern Girl", sans-serif;
 }


 @media (max-width: 768px) {
     .banner-containers {
         height: 50vh !important;
     }
 }

 @media (width: 320px) {

     .donaterow {
         width: 100% !important;
     }

     /* .banner-section {
         margin-bottom: 60px !important;
         margin-right: 10px !important;
     }

     .breadcramp-sec {
         font-size: 1rem !important;
         margin-left: 90px !important;
     } */
 }

@media (max-width: 425px) {
  .banner-wrapper {
    justify-content: center;
    align-items: center;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
 
  .banner-section {
    margin: 0;
  }
 
  .breadcramp-sec {
    margin-left: 20px;
  }
}

 .donaterow {
     width: 100% !important;
 }

 .banner-sec {
     margin-bottom: 60px !important;
     margin-right: 10px !important;
 }

 .breadcramp-sec {
     font-size: 1rem;
     margin-left: 90px;
     align-items: center;
  flex-wrap: wrap;

 }

.breadcrumb-part {
  cursor: pointer;
}

 .lineone {
     width: 3px !important;
     height: 120px !important;
     background-color: #000 !important;
 }


 .transition {
     transition: all 0.3s ease;
 }

 .cursor-pointer {
     cursor: pointer;
 }

 .service-item {
     overflow: hidden;
     transition: transform 0.3s ease;
 }

 .service-item:hover {
     transform: scale(1.05);
 }


 .bannerline {
     width: 0.05rem !important;
     height: 60px !important;
     background-color: #fff !important;


 }

 .ftrmenus {
     display: block;
     background: rgba(251, 195, 82, 0.39);
     font-size: 15px;
 }

 .ftrmenus li a {
     padding: 0 25px;
     color: #000;
 }

 .ftrline {
     width: 2px;
     height: 50px;
     background-color: #000;
 }

 .s-icons {
     color: #c5990b !important;
     font-size: 25px !important;
 }

 @media (max-width: 767px) {
     .service-item h3 {
         font-size: 1.2rem;
     }

     .ftrline {
         display: none;
     }

     .linetwo {
         display: none;
     }

     .lineone {
         display: none;
     }

 }

 .fs-p {
     font-size: 14px !important;
 }

 .fs-h {
     font-size: 16px;
 }