/* Fullscreen Swiper background */
.lpherosection .background-swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mainlpwrap .section h3 {
  font-weight: 700;
}

.lpherosection .background-slide {
  width: 100%;
  height: 50%;
  background-size: contain;
  background-position: center;
}

.lpherosection .main-header {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
  padding: 7px 20px 40px;
  z-index: 10;
}
.lpherosection .main-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: none !important;
}

/* Overlay content */
.lpherosection .overlay {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding-top: 100px;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}
.lpourserviceswrap .numbserv {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-image: url("../../assets/landingpage/numberbg.png");
  background-repeat: no-repeat;
}
.lpourserviceswrap .numbserv h5 {
  font-family: "KG Small Town Southern Girl", sans-serif;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  text-shadow: 4px 2px 6px #e3a411;
}
.lpourserviceswrap .numbserv span {
  font-size: 68px;
  line-height: 15px;
  padding-top: 18px;
  display: block;
  color: #e6e6e6;
  margin-bottom: 20px;
}
.ybg_joinwrap {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8)),
    url("../../assets/landingpage/fixedbg.jpg");
}

.lpherosection .overlay-mask-image {
  position: absolute;
  top: -143px;
  left: 0;
  transform: translateX(15%);
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  mask-image: url("../../assets/landingpage/masklayer.png"); /* PNG with transparent areas */
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("../../assets/landingpage/masklayer.png");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  pointer-events: none;
  z-index: 1;
}
.lpherosection .boybg {
  position: absolute;
  top: -150px;
  left: 0;
  transform: translateX(15%);
  width: 500px;
  height: 500px;
  pointer-events: none;
  z-index: 1;
}
.lplogo img {
  width: 140px;
}

.lpherosection .login-cta {
  position: relative;
  height: 50px;
  width: 50px;
  margin: auto;
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  text-align: right;
  margin-left: auto;
}

.lpherosection .login-cta button {
  position: absolute;
  width: max-content;
  bottom: 0px;
  left: 15px;
  border: none;
  font-size: 14px;
  background: none !important;
  color: #fff;
}
.lpherosection .main-header .logo {
  display: block;
  margin: 0;
  text-align: left;
}

/* Foreground content above mask */
.lpherosection .top-bar,
.lpherosection .header-content,
.lpherosection .main-title {
  position: relative;
  z-index: 2;
}
.lpherosection .top-bar a {
  color: #ffffff !important;
}

.lpherosection .top-bar {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  background: none !important;

  font-size: 14px !important;
  margin-bottom: 30px;
}

.lpherosection .social-icons a {
  color: rgb(0, 0, 0);
  margin-right: 20px;
  transition: all 0.3s ease;
  
}
.lpherosection .social-icons a:hover {
  color: #ffffff;
}

.lpherosection .header-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}
.lpherosection .slideryellowwrap p {
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.lpherosection .slideryellowwrap button {
  color: #ffffff;
  border: none;
  cursor: pointer;
  background: #8a5504;
  background: linear-gradient(
    0deg,
    rgba(138, 85, 4, 1) 0%,
    rgb(200, 132, 36) 100%
  );
  margin-left: 15px;
  border-radius: 50px;
  border: 2px solid #c88424;
  padding: 18px 25px;
  font-size: 15px;
  transition: all 0.3s ease;
}
.lpherosection .slideryellowwrap button:hover {
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: #8a5504;
  background: linear-gradient(
    0deg,
    rgba(138, 85, 4, 1) 0%,
    rgb(200, 132, 36) 100%
  );
  margin-left: 15px;
  border-radius: 50px;
  border: 5px solid #c88424;
  padding: 14px 30px;
  transition: all 0.2s ease;
}

.lpherosection .main-title {
  padding-right: 8rem;
  font-family: "KG Small Town Southern Girl", sans-serif;
  font-size: 105px;
  line-height: 60px;
  text-align: center;
  padding-top: 8rem;
}
.lpherosection .main-title p {
  font-size: 35px;
  line-height: 20px;
}
.lpherosection .main-title h1 {
  font-size: 90px;
  line-height: 60px;
}

.lpherosection .custom-dots {
  position: absolute;
  top: 50% !important;
  width: 100%;
  text-align: right;
  z-index: 4;
  right: 50px !important;
  display: inline-grid !important;
  direction: rtl;
  height: 60px;
  padding-right: 20px;
}
.lpherosection .custom-dots::before {
  width: 1px;
  height: 30px;
  background: #eee;
  position: absolute;
  content: "";
  right: 27px;
  top: -40px;
  opacity: 0.3;
}
.lpherosection .custom-dots::after {
  width: 1px;
  height: 30px;
  background: #eee;
  position: absolute;
  content: "";
  right: 27px;
  bottom: -30px;
  opacity: 0.3;
}

.lpherosection .custom-dots .swiper-pagination-bullet {
  background: #fff;
  opacity: 1 !important;
  border: 1px solid #333;
}
.lpherosection .custom-dots .swiper-pagination-bullet-active {
  background: #ffb300;
}

.lpherosection .home_banner_content {
  position: relative;
  text-align: left;
  padding-top: 100px;
  margin-bottom: 6px;
  height: 400px;
  width: 100%;
  margin-top: 0;
}

.ybg-petternwrap {
  display: flex;
  width: 100%;
}
.lpherosection .yellowtopright {
  width: 70%;
  height: 100px;
  clip-path: polygon(0 0, 0% 0, 100% 100%, 0 100%);
  background: #ffb300;
  position: absolute;
  left: 0;
  top: 0;
}
.lpherosection .yellowtopleft {
  width: 50%;
  height: 100px;
  clip-path: polygon(100% 100%, 100% 0, 100% 0%, 0 100%);
  background: #ffb300;
  position: absolute;
  right: 0;
  top: 0;
}
.lpourserviceswrap {
  background: none;
}
.yellowpatterwrap .yellowtopright {
  width: 50%;
  height: 100px;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
  background: #ffb300;
  position: relative;
  left: 0;
}
.yellowpatterwrap .yellowtopleft {
  width: 50%;
  height: 100px;
  clip-path: polygon(0% 100%, 0% 0, 100% 100%, 0 100%);
  background: #ffb300;
  position: relative;
  right: 0.5px;
}
.whitebg-petternwrap {
  white-space: nowrap;
}
.whitebg-petternwrap .yellowtopleft {
  width: 50%;
  height: 100px;
  clip-path: polygon(0% 100%, 0% 0, 100% 100%, 0 100%);
  background: #ffffff;
  position: relative;
  right: 0.5px;

  display: inline-block;
}

.whitebg-petternwrap .yellowtopright {
  width: 50%;
  height: 100px;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
  background: #ffffff;
  position: relative;
  left: 0;

  display: inline-block;
}

.scrollingform label {
  color: #ffffff;
  font-size: 13px;
}
.scrollingform input,
.scrollingform select,
.scrollingform span {
  font-size: 13px;
}

.yellowtop {
  width: 0;
  border-color: red;
  border-bottom-color: black;
  height: 0px;
  border-width: 30px;
}
.home_banner_content .y-bg {
  background: #ffb300;
  padding-bottom: 120px;
}
.y-bg {
  background: #ffb300;
}

.ybg_joinwrap .lonheigtslide {
  z-index: 1;
}
.ybg_joinwrap .lonheigtslide .masked-image-wrapper {
  background: none !important;
}
.ybg_joinwrap .lonheigtslide .masked-image-wrapper {
  padding: 0 !important;
  border: 2px solid #ffffff;
}

.ybg_joinwrap .lonheigtslide .masked-image-wrapper:hover {
  border: none;
}

.threequoteblog .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding: 0px;
}

.threequoteblog .card {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #000000;
}

.threequoteblog .card-img {
  width: 100%;
  display: block;
  border-radius: 0;
}

.threequoteblog .card-title-overlay {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  -webkit-text-stroke: 1px #000000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0;
  z-index: 1;
}

.threequoteblog .card-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  text-align: center;
  transition: bottom 0.3s ease;
  z-index: 1;
}

.threequoteblog .card:hover .card-overlay {
  bottom: 0;
}
.border-1 {
  border: 2px solid #333;
  display: block;
  width: 100%;
}
.lpfootcta a {
  background: linear-gradient(0deg, rgb(36, 27, 15) 0%, rgb(0, 0, 0) 100%);
  margin-left: 15px;
  border-radius: 50px;
  border: 2px solid #1b1b1b;
  padding: 18px 25px;
  font-size: 15px;
  transition: all 0.3s ease;
  color: #ffffff;
  text-decoration: none;
}
.form_overlay {
  background: rgba(0, 0, 0, 0.3);
  min-height: 10vh;
  width: 100%;
}

.lpfooteraddress .border-left {
  border-left: 2px solid #333;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.lpfootercopyright .qrcode {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.qrcode::before {
  content: "";
  height: 65px;
  width: 100%;
  padding: 20px;
  color: #ffffff;
  background: #000000;
  position: absolute;
  left: 0;
  z-index: -1;
  margin-top: -80px;
}
.qrcode img {
  width: 120px;
}
.lpfootercopyright p {
  font-size: 12px;
}
.lpfootercopyright h5 {
  padding-bottom: 40px;
  margin-bottom: 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .lpherosection .boybg,
  .lpherosection .overlay-mask-image {
    transform: translateX(-10%);
  }
  .lpherosection .main-title {
    padding-right: 0 !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .lpherosection .boybg,
  .lpherosection .overlay-mask-image {
    transform: translateX(-10%);
  }
  .lpherosection .main-title {
    padding-right: 0 !important;
  }
}
@media (max-width: 768px) {
  .lpherosection .header-content .ms-auto {
    display: contents;
  }
  .lpherosection .header-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .lpherosection .login-cta {
    margin-left: 25px !important;
  }
  .overlay .y-bg .col-md-12.d-flex {
    display: inline-block !important;
  }
  .overlay .y-bg .col-md-12.d-flex .col-md-6 {
    display: block;
    width: 100%;
  }
  .howdonatewrap h6 {
    font-size: 14px;
  }
  .slideryellowwrap {
    padding-top: 230px;
    padding-left: 0 !important;
  }
  .lpourserviceswrap .col-md-12 .col-md-6 {
    margin-bottom: 0 !important;
  }
  .ybg_joinwrap {
    margin-top: 260px;
  }
  .lpherosection .boybg,
  .lpherosection .overlay-mask-image {
    transform: translateX(-15%);
  }
  .lpherosection .main-title {
    padding-right: 0 !important;
    padding-top: 50px;
    margin-bottom: 120px;
  }
  .lpherosection .main-title h1 {
    font-size: 60px;
    padding-bottom: 20px;
  }
  .lpherosection .main-title p {
    font-size: 24px;
    line-height: 10px;
  }
  .ybg_joinwrap {
    margin-top: 240px;
  }
  .lpourserviceswrap .numbserv {
    padding: 0px !important;
  }
  .lpourserviceswrap p {
    padding-left: 7px;
  }
  .howdonatewrap .col-md-6 {
    width: 50%;
    display: inline-block;
  }
  .lpfooteraddress {
    width: 100%;
    display: block !important;
  }
  .lpfooteraddress .col-md-6 {
    text-align: center !important;
  }
  .lpfooteraddress .col-md-6 h5 {
    padding-top: 0px !important;
  }

  .howdonatewrap .border-1 {
    padding: 10px;
    margin: 7px;
  }
  .lpfooteraddress .border-left {
    border-left: none;
  }
  .form_overlay .py-5 div {
    display: block !important;
  }
  .form_overlay .py-5 div div {
    margin-bottom: 15px !important;
  }
  .lpfootercopyright .qrcode {
    align-items: baseline;
    display: block !important;
    margin: auto;
    text-align: center;
  }
  .lpfootercopyright .qrcode h5 {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #333 !important;
  }
  .qrcode img {
    margin: auto;
  }
  .qrcode::before {
    margin-top: -20px !important;
  }
  .scrollingform {
    overflow: hidden;
  }
}

@media (max-width: 420px) {
  .lplogo img {
    width: 90px !important;
  }
  .lpherosection .login-cta button {
    bottom: 0px !important;
    left: 5px !important;
  }
  .lpherosection .login-cta {
    height: 42px;
    width: 35px;
  }
  .lpherosection .boybg,
  .lpherosection .overlay-mask-image {
    width: 350px !important;
    height: 350px !important;
  }
  .slideryellowwrap {
    padding-top: 90px;
  }
  .howdonatewrap h6 {
    font-size: 12px !important;
  }
  .ybg_joinwrap {
    margin-top: 130px;
  }
}
